@import '../var.scss';

.work__ebou-container {
  .work__long-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;

    h1 {
      font-size: 20px;
    }

    a {
      font-size: 16px;
      text-decoration: underline;
    }
  }

  .features__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;

    .features__title {
      cursor: pointer;
      text-decoration: underline;
      transition: $transition;

      &:hover {
        color: $hover-color;
      }
    }
  }
}