@import '../var.scss';

.anim {
  animation: fadeInAnimation ease 1s;
}

.main-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  animation: fadeInAnimation ease 1s;
  gap: 25px;
}

.main-card {
  border-radius: 15px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  transition: $transition;

  &:hover {
    transform: $transition-scale;
  }
}

.main-card__container {
  padding: 2rem;
}

.main-card__middle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-card__bottom {
  display: flex;
  flex-direction: column;
  padding: 25px 0 0 0;
  position: relative;
  top: 2.5rem;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: $transition;
}

.main-card__image {
  height: 60px;
  width: 60px;
  border-radius: 100%;
  object-fit: contain;
}

.main-card__link_logo {
  height: 25px;
  width: 25px;
  object-fit: contain;
  transition: $transition;

  &:hover {
    transform: scale(1.1);
  }
}

.contact-card {
  width: 70%;
  margin: auto;
}


.main-card__link_text {
  padding: 0.5rem;
  background-color: #ffffff4d;
  border-radius: 5px;
}

@media screen and (max-width: $tablet-width) {

  .contact-card {
    width: 80%;
  }

}

@media screen and (max-width: $mobil-width) {
  .main-cards {
    grid-template-columns: repeat(1, 1fr);
  }

  .contact-card {
    width: 95%;
  }
}