@import './var.scss';

button,
.ul_butt {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;

  &:hover {
    border-color: #646cff;
  }

  &:focus,
  &:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
}

.pad-16 {
  padding: 16px;
}

a {
  text-decoration: none;
  color: #fff;
}

.page-text-header {
  align-items: center;
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: $secondary-color;
  border-bottom: 1px solid #747474;
  height: 60px;
  padding-left: 16px;
}

.content-container {
  margin: 25px 0 25px;
  padding: 25px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  background-color: $secondary-color;
  border-radius: 8px;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.gap-8 {
  gap: 8px;
}

.align-center {
  align-items: center;
}

.pad-top-8 {
  padding-top: 8px;
}

.width-50 {
  width: 50%;
}

.width-100 {
  width: 100%;
}

.width-75 {
  width: 75%;
}

.width-25 {
  width: 25%;
}

.height-100 {
  height: 100%;
}

.height-50 {
  height: 50%;
}

.height-25 {
  height: 25%;
}

.height-75 {
  height: 75%;
}

.justify-center {
  justify-content: center;
}


@media screen and (max-width: $mobil-width) {
  .content-container {
    padding: 10px;
  }
}