.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;

  .header_nav {
    display: flex;
    align-items: center;
    gap: 20px;

    .active {
      text-decoration: underline;
    }
  }

  li {
    list-style: none;
  }
}