@import './var.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  max-width: 50%;
  margin: 0 auto;
}

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: $primary-color;
}

@media screen and (max-width: $tablet-width) {
  .app {
    max-width: 95%;
  }
}

@media screen and (max-width: $mobil-width) {
  .app {
    max-width: 95%;
  }
}