@import './var.scss';

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login-background {
  background-color: $secondary-color;
  width: 50%;
  max-width: 400px;
  padding: 50px;
  border-radius: 5px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

input {
  padding: 15px 20px 15px 20px;
  border-radius: 5px;
  border: 1px solid $primary-color;
}

.error {
  color: red;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}