$primary-color: #222222;
$secondary-color: #4B4E6D;
$tertiary-color: #edf6f9;
$quaternary-color: #f1c40f;
$mobil-width: 768px;
$tablet-width: 1024px;
$transition: all 0.3s ease;
$transition-scale: scale(0.98);