@import './var.scss';

.home_works {
  max-width: 80%;
  margin: 0 auto;
}

.works-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  animation: fadeInAnimation ease 1s;
  gap: 50px;
}


.work-card {
  height: 255px;
  width: 100%;
  overflow: hidden;
  position: relative;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.work-card__logo {
  height: 50%;
  width: 50%;
  object-fit: contain;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.5s ease;

  &:hover {
    transform: translate(-50%, -50%) scale(1.1);
  }
}

.work-card__title {
  color: black;
  font-size: 18px;
  font-weight: 500;
  margin: 10px 0 0 10px;
}

.work-card_github_logo {
  height: 25px;
  width: 25px;
  object-fit: contain;
  position: absolute;
  top: 10px;
  right: 10px;
  transition: all 0.5s ease;

  &:hover {
    transform: scale(1.1);
  }
}

.work-card_link_logo {
  height: 25px;
  width: 25px;
  object-fit: contain;
  position: absolute;
  top: 10px;
  right: 50px;
  transition: all 0.5s ease;

  &:hover {
    transform: scale(1.1);
  }

}


.work-card__description {
  color: black;
  font-size: 14px;
  font-weight: 400;
  margin: 0 0 0 10px;
  position: absolute;
}

.work-card_technologies {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0 0 10px 10px;
  gap: 10px;

  .word-card_technologie {
    padding: 5px;
    border-radius: 5px;
    background-color: $primary-color;
    color: white;
    font-weight: 400;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  }
}

@keyframes fadeInAnimation {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


@media screen and (max-width: 1200px) {
  .works-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .home_works {
    max-width: 95%;
  }
}

@media screen and (max-width: $mobil-width) {
  .works-container {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }

  .home_works {
    max-width: 95%;
  }
}