@import './var.scss';


.works-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  animation: fadeInAnimation ease 1s;
  gap: 25px;
}


.work-card {
  display: block;
  height: 200px;
  width: 100%;
  overflow: hidden;
  position: relative;
  border-radius: 15px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  transition: $transition;

  &:hover {
    transform: $transition-scale;
  }
}

.work-card__logo {
  height: 50%;
  width: 50%;
  object-fit: contain;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: $transition;

  &:hover {
    transform: translate(-50%, -50%) scale(1.1);
  }
}

.work-card__title {
  color: black;
  font-size: 18px;
  font-weight: 500;
  margin: 10px 0 0 10px;
}

.change-page:hover {
  color: whitesmoke;
}


.work-card_github_logo {
  height: 25px;
  width: 25px;
  object-fit: contain;
  position: absolute;
  top: 10px;
  right: 10px;
  transition: $transition;

  &:hover {
    transform: scale(1.1);
  }
}

.work-card_link_logo {
  height: 25px;
  width: 25px;
  object-fit: contain;
  position: absolute;
  top: 10px;
  right: 50px;
  transition: $transition;

  &:hover {
    transform: scale(1.1);
  }
}


.work-card__description {
  color: black;
  font-size: 14px;
  font-weight: 400;
  margin: 0 0 0 10px;
  position: absolute;
}

.work-card_technologies {
  display: flex;
  flex-wrap: wrap;

  position: absolute;
  bottom: 0;
  margin: 0 5px 5px 5px;
  gap: 5px;


  .word-card_technologie {
    padding: 6px;
    border-radius: 5px;
    background-color: $primary-color;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    transition: $transition
  }

  .word-card_technologie:hover {
    transform: scale(1.05);
  }

  .work-card_technologie__logo {
    height: 15px;
    width: 15px;
    margin-right: 5px;
  }
}

.work__by-id-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  transition: $transition;

  .work__long-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
  }
}

.work__ebou-container {
  .work__long-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;

    h1 {
      font-size: 20px;
    }

    a {
      font-size: 16px;
      text-decoration: underline;
    }
  }
}



@keyframes fadeInAnimation {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media screen and (max-width: $tablet-width) {
  .works-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .work-card__logo {
    height: 33%;
    width: 33%;
  }

  .work-card_technologies {
    padding: 0;

    .word-card_technologie {
      font-size: 14px;
      padding: 8px;
    }
  }
}

@media screen and (max-width: $mobil-width) {
  .works-container {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }

  .work-card__logo {
    height: 33%;
    width: 33%;
  }

  .work-card_technologies {
    padding: 0;

    .word-card_technologie {
      font-size: 14px;
      padding: 7px;
    }
  }
}